body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+*{
  font-size: 100%;
  top: 0.7em;
}

.has-float-label label, .has-float-label>span{
  z-index: 0;
}

.loading-indicator:before {
  content: '';
  background-color: #343333cc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5000;
  transition: background-color 1s;
}

.loading-indicator:after {
  content: 'Loading';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 5001;
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;       
}

